################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Lexer/UnitTest/Debug
/Lexer/.vs/Lexer/v15

/Lexer/Debug
*.vcxproj
*.filters
*.user
*.sln
/Lexer/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0
/Lexer/Release
/Lexer/tranTable.csv

/Lexer/UnitTest/Release
/Lexer/UnitTest/TestFile

.vscode/settings.json
*.pyc
