################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Lexer/UnitTest/Debug
/Lexer/.vs/Lexer/v15
/Lexer/Debug
